.nav-links {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.nav-link-item {
    text-decoration: none;
    font-family: 'minotaur';
    font-size: 48px;
    color: #F1D00A;

}

.header-container {
    padding: 20px 0px 20px 0px;
    background-color: #21325E;
}